<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Main Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//public/signin.css"/>
  <link href='//public/bs-edits.css' rel='stylesheet' />
</head>
<body class='container'>
        <nav id="" class="navbar navbar-default">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Grade panel</a>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=username%> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <% if env['warden'].user %>
                          <li><a href="/results">Results</a></li>
                          <li class="divider"></li>
                          <li><a href="/logout">Logout</a></li>
                      <% else %>
                          <li><a href="/login/form">Login</a></li>
                          <li><a href="/login/register">Register account</a></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
        <div>
          <% if flash[:success] %>
              <div class="alert alert-success">
                <%= flash[:success] %>
              </div>
          <% end %>

          <% if flash[:error] %>
              <div class="alert alert-danger">
                <%= flash[:error] %>
              </div>
          <% end %>

          <%= yield %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>