<div class="container" style="text-align: center; width: 30%;">
  <form class="form-signin well" action='/login/regattempt' method='post'>
    <h2 class="form-signin-heading">Please register!</h2>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

    <label for="inputPassword_confirmation" class="sr-only">Password</label>
    <input type="password" id="inputPassword_confirmation" name="password_confirmation" class="form-control" placeholder="Password confirmation" required>

    <label for="name" class="sr-only">Name</label>
    <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required>

    <label for="surname" class="sr-only">Surname</label>
    <input type="text" id="inputSurname" name="surname" class="form-control" placeholder="Surname" required> <br/>

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register!"/>

  </form>
</div>