<div class="container" style="text-align: center; width: 30%;">
  <form class="form-signin well" action='/login/form' method='post'>
    <h2 class="form-signin-heading">Please log in!</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="user[username]" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="user[password]" class="form-control" placeholder="Password" required>
    <br/>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in!"/>
  </form>
</div>